:root{
  --green: #2c6e49;
  --green-ligth : #4c956c;
  --white: #fefee3;
  --black: #1f2421;
  --padding-nav : 10px 0;
 
}

img {
  width: 100%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color:  var(--white);
  background-color:  var(--black);
}

.title{
  color: var(--black);
  font-weight: bold;
  font-size: clamp(1.5rem,4vw,3rem);
  text-transform: uppercase;
}

.section{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 0;
}

.btn{
  background-color: var(--white);
  border: none;
  color: var(--black);
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 3px;
  min-width: 100px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover{
  background-color: #f2f2db;
}

.texto-green{
  color:  var(--green-ligth);
}

.header{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background:  linear-gradient(to right ,var(--green), var(--green-ligth));
  padding: 70px 0 ;
}

.header .header__menu{
  --padding-nav: 10px;
  padding: var(--padding-nav);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header .header__menu .logo{
  font-size: 20px;
  color: var(--white);
}


.header .header__menu .toggle{
  border: none;
  background-color: transparent;
  font-size: 23px;
}


.header .mobile{
  height: calc(100vh - 48px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: fixed;
  top: 48px;
  left: 100%;
  padding-bottom: 20px;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); 
  transition: ease .4s;
}

.mobile.mostrar{
  left: 0%;
  transition: ease .4s;
}


.header a{
  color: var(--white);
  font-size: 22px;
}

.header .mobile .btn.btn-nav,
.header .mobile  a:nth-child(1){
  margin-top: auto;
}

.header .header__menu .desktop{
  display: none;
}

/* content */

.hero__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 60px 0 0 0;
  width: 100%;
}

.content__texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  color: var(--white);
  max-width: 400px;
}


.header img{
  width: 300px;
  max-width: 400px;
}

@media screen and ( min-width: 768px){

  .header .header__menu{
    --padding-nav: 20px;
    max-width: 1200px;
    left: 50%;
    transform: translate(-50%);

    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);   
  }

  .header .mobile{
    display: none;
  } 

  .header .toggle{
    display: none;
  }

  .header .header__menu .desktop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 20px;

  }

  .btn.btn-nav-desktop,
  .header .desktop a:nth-child(1){
    margin-left: auto;
  }

  /* content */

  .hero__content{
    flex-direction: row;
    justify-content: space-around ;
  }
 
}


/* plants */

.plants{
  display: flex;
  flex-direction: column;
  gap: 10rem;
  text-align: center;
  
}

.plants .title{
  color:  var(--white);
}

.plants__container-cards{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

.plants__container-cards .card{
  border-radius: 5px;
  width: 90%;
  max-width: 300px;
  text-align: center;
  background-color: var(--white);
  box-shadow: 0 3px 8px var(--green-ligth);
  padding: 20px;
  position: relative;
}


.plants__container-cards .card img{
  position: absolute;
  width: 100px;
  top: -60%;
  left: 50%;
  transform: translate(-50%);
}

.card__title{
  color:  var(--black);
  font-weight: bold;
  margin: 10px 0;
  text-transform: uppercase;
}


.card__p{
  margin: 10px 0;
}


@media screen and (min-width: 680px){
  .plants__container-cards{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .plants__container-cards .card{
    margin-bottom: 90px;
  }
}